In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#import data
df=sns.load_dataset('titanic')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [7]:
df.isnull()
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [13]:
round(df.isna().sum()/df.shape[0]*100,2)

survived        0.00
pclass          0.00
sex             0.00
age            19.87
sibsp           0.00
parch           0.00
fare            0.00
embarked        0.22
class           0.00
who             0.00
adult_male      0.00
deck           77.22
embark_town     0.22
alive           0.00
alone           0.00
dtype: float64

In [14]:
#remove missing value
print("Mean is of age ",df['age'].mean())
print("Median of age is ",df['age'].median())#mode is used for categoryical data since medain is least affected by outliers so use median mostly instead of mean

Mean is of age  29.69911764705882
Median of age is  28.0

In [16]:
df['age']=df['age'].fillna(df['age'].median())

In [18]:
#drop 
df=df.drop('deck',axis=1)

In [19]:
df['embark_town']=df['embark_town'].fillna(df['embark_town'].mode()[0])#because categoryical data
df['embarked']=df['embark_town'].fillna(df['embark_town'].mode()[0])

In [20]:
df.isna().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

#impute using sklearn

In [24]:
from sklearn.impute import SimpleImputer #for one column use simple imputer or univarant imputer
df=sns.load_dataset('titanic')
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [25]:
imputer=SimpleImputer(strategy='median')#since it is a model so we need to make first its object based on strategy
df['age']=imputer.fit_transform(df[['age']])
df.isna().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
#univariate imputation means agar age ko fill karo age ki madad sy hi
#multivariate imputation means agar age ko fill karo poore data ky column ky mutabiq

#multivariate imputation

In [26]:
df=sns.load_dataset('titanic')
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [30]:
from sklearn.experimental import enable_iterative_imputer# first isko enable krty hain
from sklearn.impute import IterativeImputer# yh uni sy ziada acha
imputer =IterativeImputer(max_iter=10,n_nearest_features=5)#max_iter means ktni iteration chalani or neareat means jtne near btaye unko lo bs 5 means jo 5 ziada kareeb unki base phr fill karo random state thake ans same aye har dafa or yh yh sub ky bina empty bhi chal skta
df['age']=imputer.fit_transform(df[['age']])#yh df lety series ni

In [31]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [32]:
df=sns.load_dataset('titanic')
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

#KNN Imputer(work on k_nearest algo use krta)

In [33]:
from sklearn.impute import KNNImputer
imputer=KNNImputer(n_neighbors=5)#5 neighbour ki bina phr fill karo
df['age']=imputer.fit_transform(df[['age']])
df.isna().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [38]:
df['embarked']=df['embarked'].ffill()
df.isna().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [10]:
df.shape

(891, 15)